@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper-button-prev {
  color: teal !important;
}
.swiper-button-next {
  color: teal !important;
}

body {
  height: 100%;
}
